<!doctype html>
<html ng-app="myApp">
  <head>
    <title>AngularJs Factories</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="factory.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>AngularJS Factory</h1>
      <hr>
      <div class="col-xs-4">
        <div class="row">
          <div class="form">
            <div class="form-group" ng-controller="ControllerOne">
              <label class="text-success" for="">Controller One</label>
              <input type="text" class="form-control" ng-model="newMessage">
              <button class="btn btn-primary" ng-click="nuevo()">Guardar</button>
              <h3>{{data.message}}</h3>
            </div>

            <div class="form-group" ng-controller="ControllerTwo">
              <label class="text-warning" for="">Controller Two</label>
              <input type="text" class="form-control" ng-model="newMessage">
              <button class="btn btn-warning" ng-click="nuevo()">Guardar</button>
              <h3>{{data.message}}</h3>
            </div>

            <div ng-controller="ControllerThree">
              <button class="btn btn-danger" ng-click="reset()">Mensaje Inicial</button>
            </div>
            
          </div>
        </div>
    </div>
  </body>
</html>